@import url(./fonts.css);

:root {
  --font-montserrat: "Montserrat", Arial, sans-serif;
  --font-roboto-slab: "Roboto Slab", "Times New Roman", serif;
  --font-noto-serif: "Noto Serif", "Times New Roman", serif;
  --main-color: rgb(254, 209, 54);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-montserrat);
  color: rgb(34, 34, 34);
}

.conteiner {
  width: 58.75rem;
  margin: 0 auto;
}

/***************HEADER*****************/
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.75rem;
}

.site-logo {
  display: inline-block;
}

.site-navigation-list {
  width: 30.3125rem;
  display: flex;
  justify-content: space-between;
}

.site-navigation-link {
  font-size: 0.875rem;
  line-height: 2.5625rem;
  color: rgb(34, 34, 34);
  font-weight: 700;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.site-navigation-link:hover {
  color: var(--main-color);
}

/*********MAIN-SECTION*******/
.services {
  padding-top: 7.25rem;
  padding-bottom: 7.375rem;
}

.section-title {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.section-discription {
  font-size: 1rem;
  color: rgb(119, 119, 119);
  font-family: var(--font-noto-serif);
  font-weight: 400;
  font-style: italic;
  line-height: 1.1875rem;
  text-align: center;
  margin-bottom: 4.6875rem;
}

.section-list {
  display: flex;
  justify-content: space-between;
}

.section-list-item {
  width: 18.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-list-item::before {
  content: "";
  display: block;
  width: 4.5625rem;
  height: 4.5625rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--main-color);
  border-radius: 50px;
  margin-bottom: 1.375rem;
}

.commerce-icon::before {
  background-image: url(../image/commerce-icon.png);
}

.computer-icon::before {
  background-image: url(../image/computer-icon.png);
}

.locked-icon::before {
  background-image: url(../image/locked-icon.png);
}

.services-title {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-bottom: 0.75rem;
}

.services-discription {
  font-size: 0.875rem;
  color: rgb(119, 119, 119);
  font-family: var(--font-roboto-slab);
  font-weight: 400;
  line-height: 1.0625rem;
}

/***********CONTACT-SECTION************/
.contacts {
  background-color: rgb(34, 34, 34);
  background-image: url(../image/map-image.png);
  background-repeat: no-repeat;
  background-position: right bottom 18px;
  padding-top: 6.625rem;
  padding-bottom: 7.1875rem;
}

.form-title {
  color: rgb(255, 255, 255);
}

.contacts-form {
  text-align: center;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8125rem;
}

.contacts-form-list {
  display: flex;
  flex-flow: column;
  align-content: space-between;
}

.contacts-form-list-item:nth-child(-n+2) {
  margin-bottom: 1.6875rem;
}

.contacts-form-list,
.contacts-area {
  width: calc(50% - 1rem);
}

.contacts-input,
.contacts-area {
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  padding-left: 1.25rem;
  color: rgb(34, 34, 34);
}

.contacts-input {
  width: 100%;
  line-height: 3.125rem;
}

.contacts-area {
  resize: none;
  padding: 1.0625rem;
}

.contacts-input::placeholder,
.contacts-area::placeholder {
  font-size: 0.875rem;
  color: hsl(0, 0%, 73%);
  font-family: var(--font-montserrat);
  font-weight: 700;
  line-height: 1.0625rem;
  text-transform: uppercase;
}

.contacts-input:focus,
.contacts-area:focus {
  border-color: transparent;
}

.contacts-input:required:focus:valid,
.contacts-area:required:focus:valid {
  outline: 1px solid rgb(0, 255, 0);
}

.contacts-input:required:focus:invalid,
.contacts-area:required:focus:invalid{
  outline: 1px solid rgb(255, 0, 0);
}

.contacts-form-btn {
  border: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.3125rem;
  text-transform: uppercase;
  background-color: var(--main-color);
  padding: 1.4375rem 2.875rem 1.5625rem;
  border-radius: 3px;
  cursor: pointer;
} 
